{{#resume.basics}}
	{{>components/header level=1 title=(t 'CV')}}
	<section id="basics">
		<div class="flex content-between gap-12">
			<div class="flex flex-col grow">
				{{#if name}}
					{{>components/header level=2 title=name}}
				{{/if}}

				{{#if summary}}
				<p class="mb-2">{{summary}}</p>
				{{/if}}
			</div>
			<div class="flex-none">
				{{#if image}}
				<img src="{{image}}" class="aspect-square rounded-full w-44 print:w-28 -mt-10 print:-mt-6 shadow-md saturate-0" />
				{{/if}}
			</div>
		</div>
		<div>
			<div class="flex gap-6">
				{{#if phone}}
				<div class="flex gap-1 items-center">
					<i class="bi bi-phone-fill"></i>
					{{phone}}
				</div>
				{{/if}}

				{{#if email}}
					<a href="mailto:{{email}}">
						<i class="bi bi-envelope-fill"></i>
						{{email}}
					</a>
				{{/if}}

				{{#location}}
					{{#if address}}
					<div>
						<i class="bi bi-mailbox2"></i>
						{{address}}{{#if postalCode}}, {{postalCode}}{{/if}}

						{{#if city}}
						{{city}}
						{{/if}}
					</div>
					{{/if}}
				{{/location}}

				{{#if url}}
					<a href="{{url}}" class="flex gap-1 items-center">
					<i class="bi bi-house-fill"></i>
						{{url}}
					</a>
				{{/if}}

				{{#if birthDate}}
					<div class="flex gap-1 items-center">
					<i class="bi bi-calendar"></i>
						{{birthDate}}
					</div>
				{{/if}}
			</div>
		</div>
	</section>
{{/resume.basics}}