{{#if resume.education.length}}
<section id="education">
	{{>components/header level=2 title='Education'}}
	<div class="flex flex-col gap-3">
		{{#each resume.education}}
		<article class="flex">
			<div class="min-w-36 text-sm font-mono">
				{{#if startDate}}
				<span>
					{{#moment startDate "YYYY" datejs=false}}{{/moment}}
				</span>
				<span>
					- 
					{{#if endDate}}
						{{#moment endDate "YYYY" datejs=false}}{{/moment}}
					{{else}}
						Present
					{{/if}}
				</span>
				{{/if}}
			</div>
			<div>
				<span class="font-bold">
					{{#if institution}}
						{{institution}},
					{{/if}}

					{{#if area}}
						{{area}}
					{{/if}}

					{{#if studyType}}
						{{studyType}}
					{{/if}}
				</span>

				{{#if gpa}}
				<div >
					GPA: {{gpa}}
				</div>
				{{/if}}

				{{#if courses.length}}
				<ul class="list-disc mt-0.5">
					{{#each courses}}
					<li class="ml-8">{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
			</div>
		</article>
		{{/each}}
	</div>
</section>
{{/if}}