{{#if resume.publications.length}}
<section id="publications">
	{{>components/header level=2 title=(t 'Publications')}}
	{{#each resume.publications}}
	<article class="flex">
		<div class="min-w-36 text-sm">
			{{#if releaseDate}}
			<span>
				{{releaseDate}}
			</span>
			{{/if}}
		</div>
		<div>
			{{#if name}}
			{{>components/header level=3 title=name}}
			{{/if}}

			{{#if publisher}}
			<div >
				{{publisher}}
			</div>
			{{/if}}
			{{#if url}}
			<div >
				<a href="{{url}}">{{url}}</a>
			</div>
			{{/if}}
			{{#if summary}}
			<div >
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
	</article>
	{{/each}}
</section>
{{/if}}