{{#if resume.volunteer.length}}
<section id="volunteer">
	{{>components/header level=2 title=(t 'Volunteer')}}
	<div class="flex flex-col gap-3">
		{{#each resume.volunteer}}
		<article class="flex{{#unless summary}}{{#unless @last }} -mb-3{{/unless}}{{/unless}}">
			<div class="min-w-36 text-sm">
				{{#if startDate}}
				<span>
					{{#moment startDate "YYYY" datejs=false}}{{/moment}}
				</span>
				<span>
					- 
					{{#if endDate}}
						{{#moment endDate "YYYY" datejs=false}}{{/moment}}
					{{else}}
						Present
					{{/if}}
				</span>
				{{/if}}
			</div>
			<div>
				<span class="font-bold">
					{{#if organization}}
						{{organization}},
					{{/if}}

					{{#if position}}
						{{position}}
					{{/if}}
				</span>

				{{#if summary}}
				<p>{{summary}}</p>
				{{/if}}

				{{#if highlights.length}}
				<ul class="list-disc mt-0.5">
					{{#each highlights}}
					<li class="ml-8">{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
			</div>
		</article>
		{{/each}}
	</div>
</section>
{{/if}}