{{#if resume.work.length}}
<section id="work">
	{{>components/header level=2 title='Work'}}
	<div class="flex flex-col gap-3">
		{{#each resume.work}}
		<article class="flex{{#unless summary}}{{#unless @last }} -mb-3{{/unless}}{{/unless}}">
			<div class="min-w-36 text-sm print:text-xs">
				{{#if startDate}}
				<span>
					{{#moment startDate "YYYY" datejs=false}}{{/moment}}
				</span>
				<span>
					- 
					{{#if endDate}}
						{{#moment endDate "YYYY" datejs=false}}{{/moment}}
					{{else}}
						Present
					{{/if}}
				</span>
				{{/if}}
			</div>
			<div>
				<h3 class="font-bold">
					{{#if name}}
						{{name}},
					{{/if}}

					{{#if position}}
						{{position}}
					{{/if}}
				</h3>

				{{#if description}}
				<p class="font-light text-sm print:text-xs italic">{{description}}</p>
				{{/if}}
				
				{{#if summary}}
				<p>{{summary}}</p>
				{{/if}}

				{{#if highlights.length}}
				<ul class="list-disc mt-0.5">
					{{#each highlights}}
					<li class="ml-8">{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
			</div>
		</article>
		{{/each}}
	</div>
</section>
{{/if}}